<a *ngFor="let filme of (filmes$ | async)" href="{{ filme.url }}" target="_blank" rel="noreferrer">
  <p-card [header]="filme.titulo" [subheader]="filme.sinopse"
    [style]="{width: '100%', height: '100%', display: 'block'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img alt="{{ filme.sinopse }}" src="{{ filme.cartaz }}" />
    </ng-template>
    <ng-template pTemplate="footer">
      <a pButton label="Acessar" class="p-button-outlined p-button-secondary" icon="pi pi-eye">
      </a>
      <button pButton (click)="editar(filme, $event)" label="Editar" class="p-button-primary" icon="pi pi-pencil">
      </button>
    </ng-template>
  </p-card>
</a>
